
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Melon Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>

        {% for melon in num %}
        <!--(2, [<Melon: 2, Crenshaw, $2.00>, 1]),
            (14, [<Melon: 14, Ali Baba Watermelon, $2.50>, 2]), 
            (23, [<Melon: 23, Congo Watermelon, $2.00>, 7])
        -->
            <tr>
                <td>{{ melon[1][0].common_name }}</td>
                <td>{{ melon[1][1] }}</td>
                <td>${{ melon[1][0].price }}</td>
                <td>${{ melon[1][1] * melon[1][0].price }}</td>
            </tr> 

        {% endfor %}

    </table>



    <!-- <h3>Total: $27.00</h3> -->

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
